@charset "UTF-8";
/* CSS Document */

.thankyou{
    text-align: left;
    margin: 70px auto 90px 5%;
}
.kakunin{
    margin-top: 40px;
}
.tel_number{
    font-size: 20px;
    margin: 5px 0;
}




/*ーーーーーーーーーーーーーレスポンシブーーーーーーーーーーーーーー*/

@media screen and (max-width: 767px){
    
.thankyou{
    text-align: left;
    margin: 70px auto 90px 0;
}
.kakunin{
    margin-top: 40px;
}
.tel_number{
    font-size: 20px;
    margin: 5px 0;
}
}